
#skills {
    background-color: #333;
    color: #fff;
    padding: 50px;
    margin: 20px 0; 
    text-align: center;
    font-size: 20px;;
  }
  
  .skills-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin:20px 0;
    
  }
  .h-skills{
    color:#00ffaa;
  }
  
  .box {
    background-color: #444;
    border: 2px solid #00ffaa; 
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 204, 0.75); 
    padding: 30px;
    border-radius: 8px;
    width: 300px; 
    height: 300px;     
  }
  
  .box h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
  }
  
  ul li {
    font-size: 14px;
    padding: 8px 12px;
    background-color: #555; 
    border-radius: 5px;
  }
  