
nav {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #00ffaa;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
  }
  nav ul li a:hover {
    color: #fff;
  }
  
  
  @media (max-width: 768px) {
    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #222;
    }
  
    nav ul.show {
      display: flex;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    nav div {
      display: block;
    }
  }